html {
  font-size: 62.5%;
}
:root {
  --light: #fafafc;
  --dark: #222244;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  background-color: var(--light);
  background-image: url("https://cdn.glitch.global/6b229fd4-b092-4044-9cc2-0b306f76df3b/text.svg?v=1714920707773");
  background-repeat: repeat;
  background-size: 100%;
}
a {
  text-decoration: none;
  color: #2222cc;
}
header {
  margin: 0;
  width: min(1000px, 100vw);
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
#g-nav ul {
  margin: 0;
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
  overflow-x: scroll;
  float: right;
}
#g-nav li {
  display: block;
}
#g-nav a {
  position: relative;
  display: block;
  padding: 10px;
  color: var(--light);
  text-decoration: none;
  display: block;
  transition: all ease 0.3s;
}
#g-nav a:hover {
  color: #fdd;
}
#g-nav a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--light);
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s; /*変形の時間*/
}

#g-nav a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
header .hide {
  transform: translateY(-60px);
  opacity: 0.5;
}
#topImage2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: min(100vw, 100vh);
  background-image: url("https://cdn.glitch.global/6b229fd4-b092-4044-9cc2-0b306f76df3b/IMG_6340.jpeg?v=1714780045834");
  background-size: cover;
  z-index: 25;
}
#topImage {
  position: relative;
  width: 100vw;
  height: min(100vw, 100vh);
  background-image: url("https://cdn.glitch.global/6b229fd4-b092-4044-9cc2-0b306f76df3b/IMG_6346.jpeg?v=1714810752604");
  background-size: cover;
  transition: opacity ease 1s;
  z-index: 30;
  opacity: 1;
}
#topImage3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: min(100vw, 100vh);
  z-index: 40;
}
#topImage3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 25vw solid #666699aa; /* 好みで高さ色を変えてください */
  border-right: 75vw solid transparent;
  z-index: 45;
}
#topImage3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: min(100vw, 100vh);
  background-color: rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(#444 30%, transparent 31%),
    radial-gradient(#444 30%, transparent 31%);
  background-size: 2px 2px;
  background-position: 0 0, 2px 2px;
  z-index: 40;
}
#cc1 {
  position: fixed;
  top: max(3px, calc(8px - 3vw));
  left: max(20px, calc(50vw - 480px));
  color: var(--light);
  font-size: min(36px, calc(4vw + 16px));
  font-family: "oswald", sans-serif;
  z-index: 80;
  opacity: 1;
  transition: color ease 0.3s;
}
h1 {
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: var(--light);
  font-size: calc(6vw + 15px);
  font-family: "Shippori Mincho", serif;
  font-weight: normal;
  z-index: 80;
}
#headerBlack {
  width: 100vw;
  height: 60px;
  position: sticky;
  overflow: hidden;
  top: 60px;
  background: linear-gradient(-30deg, var(--dark) 52%, var(--light) 52%);
  z-index: 15;
  box-shadow: 0px 10px 20px silver;
  transform: translateY(-60px);
}
main {
  margin: 10px auto;
  width: min(1000px, calc(100vw - 40px));
}
.container {
  display: flex;
  margin-bottom: 100px;
}
h2 {
  position: relative;
  font-weight: normal;
  margin: 20px auto;
  padding-left: 10px;
  font-size: 4rem;
  font-family: "oswald", sans-serif;
  min-width: 0;
  width: fit-content;
}
h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6rem;
  margin: 1.4rem 1.4rem 1rem 1rem;
  width: 2.7rem;
  height: 2.7rem;
  border-top: 0.4rem solid var(--dark);
  border-right: 0.4rem solid var(--dark);
  transform: rotate(45deg);
}
.ap {
  opacity: 0;
}
.cells {
  width: 50%;
  min-height: 200px;
}
.cells:nth-child(odd) {
  text-align: center;
}
.cellsImage {
  border: 2px solid var(--dark);
  border-radius: 15px;
  margin: 0px auto;
  box-shadow: 0px 0px 20px silver;
  transition: opacity ease 1s;
}
p {
  line-height: 2;
  letter-spacing: 0.2em;
  clear: both;
  margin: 20px 0;
}
p::first-letter {
  font-size: 2em;
  float: left;
  padding-right: 5px;
}
footer {
  padding: 20px;
  text-align: center;
  min-height: 50vh;
  font-size: 1.8rem;
  font-family: "oswald", sans-serif;
  color: var(--light);
  background-color: var(--dark);
}
@media screen and (max-width: 700px) {
  /*ヘッダー*/
  #g-nav {
    position: fixed;
    z-index: 55;
    top: -200px;
    left: 0;
    width: 100vw;
    height: 200px;
    background-color: var(--dark);
    transition: ease 0.4s;
    overflow: scroll;
    padding: 0;
  }
  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive {
    height: min(540px, calc(60vh + 200px));
  }
  #g-nav ul {
    padding-top: 240px;
    z-index: 999;
    display: block;
    float: none;
  }
  #g-nav li {
    display: list-item;
    list-style: none;
    text-align: center;
    padding: 0;
  }
  #g-nav li a {
    border-bottom: 2px groove var(--dark);
    color: var(--light);
    text-decoration: none;
    padding: 15px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 1.8rem;
  }
  /*ボタン用*/
  #openbtn {
    position: fixed;
    z-index: 9999;
    top: 5px;
    right: 40px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  /*×に変化*/
  #openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--light);
    width: 45%;
  }
  #openbtn span:nth-of-type(1) {
    top: 15px;
  }

  #openbtn span:nth-of-type(2) {
    top: 23px;
  }

  #openbtn span:nth-of-type(3) {
    top: 31px;
  }
  #openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  #openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  #openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  /*ここまで*/
  .container {
    display: block;
  }
  .cells {
    width: 100%;
  }
}
