html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "DIN", "Helvetica", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
header {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    li {
      display: block;
      padding: 15px;
      a {
        color: #fcfcfc;
        text-decoration: none;
      }
    }
  }
}
#topImage {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://cdn.glitch.global/6b229fd4-b092-4044-9cc2-0b306f76df3b/IMG_6340.jpeg?v=1714780045834);
  background-size: cover;
}
