html {
  font-size: 62.5%;
}
:root {
  --bg: #f3f3f9;
  --color: #222222;
  --impact: #0b1f61;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #112222;
    --color: #dddddd;
    --impact: #e4d099;
  }
}
body {
  background-color: var(--bg);
  color: var(--color);
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.8rem;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header {
  width: min(84%, 800px);
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bt {
  color: var(--impact);
  font-size: 2rem;
  padding: 5px 20px;
  display: block;
  background-color: var(--bg);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggle span {
  color: #666666;
}
#date {
  line-height: 2;
}
#imgContainer {
  margin: 50px auto 10px;
  overflow: hidden;
  height: 105px;
}
#titleLogo {
  display: block;
  margin: 0 auto;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  transform: translateY(120px);
}
@keyframes slidein {
  from {
    transform: translateY(120px) rotate(-10deg) scale(0.6);
  }
  to {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
}
#section1 p {
  margin-bottom: 10px;
}
a {
  color: var(--impact);
}
input {
  outline: none;
}
section {
  margin: 70px auto 40px;
  width: min(84%, 800px);
}
#section1 form {
  line-height: 1;
  font-weight: normal;
  font-size: Min(5vw, 24px);
  margin: 0 0 8vh 0;
  position: relative;
}
#ekkusu {
  color: #888888;
  font-size: 30px;
  display: block;
  position: absolute;
  top: 15px;
  right: calc(90px);
  text-shadow: none;
}
#ekkusu::after {
  content: "×";
}
#unique_id {
  height: 42px;
  padding: 5px 16px;
  width: calc(100% - 120px);
  font-size: 32px;
  background-color: #ffffff;
  border: 1px solid #888888;
  border-radius: 10px;
  transition: all 0.3s;
  display: inline-block;
}
#unique_id:focus {
  box-shadow: 0px 3px 10px #aaaaaaaa;
}
.button {
  border: 1px solid #888888;
  background-color: white;
  height: 54px;
  border-radius: 10px;
  transform: translateY(7px);
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #aaaaaa00;
  transition: all 0.3s ease;
}
.scimage {
  border-radius: 10px;
  box-shadow: 1px 1px 10px #aaa;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: white;
  transition: 0.3s ease;
}
#shortcut {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 10vh;
}
#extraLink {
  width: calc(40% + 100px);
  margin: 10px auto;
  padding: 10px;
  color: white;
  cursor: pointer;
  background-color: hsl(210, 50%, 40%);
  border-radius: 10px;
  font-weight: bold;
  text-shadow: none;
  border: 1px solid white;
}
.link {
  width: 230px;
  text-align: left;
}
.link a {
  display: block;
  margin: 0;
  padding: 5px 15px;
  border-radius: 5px;
}
.link a:hover {
  padding: 4px 14px;
  border: 1px dashed gray;
}
.container {
  white-space: nowrap;
}

@media (hover: hover) {
  .bt:hover {
    box-shadow: 1px 1px 10px #aaaaaa;
  }
  .scimage:hover {
    transform: scale(0.9);
  }
  .shoryakuButton:hover {
    background-color: #3b4f7a;
  }
  #extraLink:hover {
    box-shadow: 0 4px 6px silver;
  }
}
@media (hover: none) {
  .bt:active {
    box-shadow: 1px 1px 10px #aaaaaa;
  }
  .scimage:active {
    transform: scale(0.9);
  }
  .shoryakuButton:active {
    background-color: #3b4f7a;
  }
  #extraLink:active {
    box-shadow: 0 4px 6px silver;
  }
}
