:root{
  --white:#fafafa
}
.buttonContain {
  top:100px;
  width: 100%;
  height: 100px;
  position:relative;
}
#bb{
  position:relative;
  left:50%;
  transform:translateX(-175px);
  width:350px;
  height:30px;
  border-radius: 20px;
  border:2px solid var(--dark);
  background-color:var(--white);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}
#bb .bbb{
  transform: skew(-20deg);
  margin:0px 0px 0px -2px;
  padding:0px;
  border-right:solid 2px var(--dark);
  border-left:solid 2px var(--dark);
  width:60px;
  height:30px;
  background-color: white;
  text-align: center;
}
#bb .bbb.active{
  background-color: orange;
}
#bb .bbb p{
  padding:0px;
  margin-top:3pX;
  height:24px;
  font-size: 20px;
  transform: skew(20deg);
}
#search_box {
  left:50%;
  transform:translateX(calc(min( 80vw , 598px) / 2 * -1));
  z-index: 10;
  position:absolute;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#search_con {
  background-color: #fafafa;
  border:solid 2px var(--dark);
  width: min( 80vw , 598px);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: left;
  border-radius: 20px;
}
#input_box {
  display: flex;
}
#input_box img {
  padding: 13px 13px 13px 13px;
  width: 20px;
  height: 20px;
}
#input_box textarea {
  color: #202124;
  background-color: transparent;
  border: solid 0px transparent;
  width: 100%;
  height: 24px;
  resize: none;
  outline: none;
  line-height: 22px;
  font-size: 16px;
  padding: 11px 11px 11px 0px;
}
#suggest_box {
  display: none;
}
#suggest_box.active {
    display: block;
}
#suggest_ul {
  list-style-type: none;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin:0px;
}
#suggest_ul li {
  padding-bottom:4px;
  border-top:1px solid var(--dark);
  display: flex;
  height: 30px;
}
#suggest_ul li img {
  padding: 7px 13px 3px 13px;;
  width: 20px;
  height: 20px;
}
        
#suggest_ul li:hover{
  background-color: rgba(0,0,0,0.1);
}

#result_a_con {
  display: flex;
  height: 22px;
  padding: 6px 0;
}
#result_a_con span {
  height: 22px;
  color: 202124;
  font-size: 18px;
}
.mapContain{
  left:10%;
  width: 80%;
  height: auto;
  position:relative;
  top:50px;
}
.mapContain div{
  display: none;
  position:relative;
  top:0px;
}
.mapContain svg {
  width: 100%;
  height:auto;
}

.mapContain svg .active{
  fill:orange;
}

.scrollable_img{
  width:150px;
  height:100px;
  display: none;
}

#note{
  width:200px;
  height:200px;
  background-color: var(--white);
  border-radius: 10px;
  border: 2px solid var(--dark);
  position:fixed;
  top:0px;
  display: none;
  transition: opacity 0.2s;
  z-index: 10123;
}

#note_desc{
  width:100%;
  height:100%;
  top:0dvh;
  position: absolute;
}

#note img {
  width:60px;
  max-height: 60px;
  height:auto;
  position:absolute;
  top:5px;
  left:5px;
  border-radius: 5px;
  border:solid 1px var(--dark);
}

#note_p1{
  position: absolute;
  top:5px;
  width:120px;
  right: 5px;
  margin:0px;
  padding:0px;
  font-size: 1vw;
}

#note_p2{
  position: absolute;
  top:43px;
  width:120px;
  right: 5px;
  margin:0px;
  padding:0px;
  font-size: small;
}

#note_p3{
  position: absolute;
  top:70px;
  width:190px;
  right: 5px;
  margin:0px;
  padding:0px;
  font-size: small;
}

#note_warp{
  position: absolute;
  bottom:10px;
  width:190px;
  right: 5px;
  margin:0px;
  padding:0px;
  font-size: normal;
  text-align: center;
}

#hukidasi{
  width: 20px;
  height: 20px;
  background-color: var(--white);
  transform: rotate(45deg); /* 45度回転 */
  position:relative;
  left:calc(100% - 110px);
  top:190px;
}

@media screen and (max-width: 700px) {
  .mapContain{
    left: calc((100% - 100vw) / 2);
    width: 100vw;
    overflow: auto;
    border-top: 2px solid var(--dark);
  }
  .map{
    width:100%;
    overflow: auto;
  }
  .map svg{
    width:700px;
  }
  .scrollable_img{
    display: block;
    position: relative;
    left:calc(50% - 75px);
    top:400px;
    z-index: 14;
    pointer-events: none;
    transition: opacity 0.5s;
    opacity: 100;
  }
}