#letter {
  margin-top: 100px;
  background-color: #fcfafa;
  color: #444444;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 20px silver;
}
#channel {
  width: min(100%, 500px);
  margin: 0 auto;
  border-bottom: 1px solid #444444;
  display: flex;
}
#channel a {
  text-align: center;
  color: #555588;
  display: block;
  width: 33%;
  margin: 5px 0;
}
#channel a:nth-child(2) {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}
/* 本文装飾 */
h1 {
font-size: 2.1rem;
  margin: 20px 0;
}
#date {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
h2, h3 {
  margin: 10px;
  box-sizing: border-box;
  padding: 5px;
}
h2 {
  background-color: #f4faff;
  border-left: 5px solid #58afff;
}
p {
  margin: 20px 0;
}
img{
  width: min(500px, 100%);
  height: auto;
  border-radius: 15px;
}
.selif {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.selifIcon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 1.66;
  text-align: center;
  font-weight: bold;
  color: var(--light);
  background-color: teal;
  border-radius: 25px;
}
.selifText {
  position: relative;
  max-width: calc(100% - 80px);
  padding: 10px;
  border-radius: 8px;
  background-color: #f1f1f1;
  flex: 1;
}
.selifText::before {
  content: "";
  position:absolute;
  width:0;
  height: 0;
  border:0.8rem solid transparent;
  top: 10px;
  left: -15px;
  border-right-color: #f1f1f1;
}
/*マスキングテープ風*/
.profile{
	background-color: #F6EEEC;
	padding: 25px 20px 20px;
	position:relative;
	margin-bottom: 15px;
}
.profile::before {
	content: "";
	background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* ギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* ギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;/*配置(ここを動かす)*/
	top: -15px; /*上からの距離*/
	left: 20px; /*左からの距離*/
}
