#letter {
  margin-top: 100px;
  background-color: #fcfafa;
  color: #444444;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 20px silver;
}
#channel {
  width: min(100%, 500px);
  margin: 0 auto;
  border-bottom: 1px solid #444444;
  display: flex;
}
#channel a {
  text-align: center;
color: #555588;
  display: block;
  width: 33%;
  margin: 5px 0;
}
#channel a:nth-child(2) {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}
h1 {
font-size: 2.1rem;
  margin: 20px 10px 0;
}
#date {
  font-size: 1.4rem;
  margin: 0 10px 20px;
}
p {
  margin: 10px;
}
