#iconBox {
    background-color: gray;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

#iconBox img {
    width: 200px;
    height: auto;
}

p#prev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

imgbo {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 6px;
    border-radius: 10px;
    background-color: gray;
    border: solid 2px black;
}

imgbo img {
    width: 100%;
    border: solid 1px black;
}

imgbo button {
    bottom: 0px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top: 6px;
}

section#settings{
    margin-top: 100px;
    background-color: #fcfafa;
    color: #444444;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 2px 20px silver;
}

.prows{
    display:flex;
    align-items:start;
    width:calc(100% - 1px);
    height:24px;
}

#paragraph{
    padding:10px;
}

#paragraph img{
    width:100%;
    height: auto;
}

#m_title{
    white-space: nowrap;
    padding-left:10px;
    display: flex;
    align-items:start;
    font-size: 2.1rem;
    font-weight: bold;
    height: 32px;
}

#m_date{
    white-space: nowrap;
    padding-left:10px;
    display: flex;
    align-items:start;
    font-size: 1.4rem;
    height:21px;
    margin-bottom: 20px;
}

@keyframes activebar_anime{
    0%,50%{
        background-color: black;
    }
    50.01%,100%{
        background-color:transparent;
    }
}

.p_{
    outline: none;
}

activebar{
    display:block;
    height:100%;
    width:1px;
    background-color: black;
    animation:activebar_anime 1s infinite;
}